<div
  class="h-[64px] w-[64px] flex justify-center items-center text-black text-xs"
  [class.bg-gray-400]="showBackground()"
>
  <ng-content></ng-content>

  <span class="label-text label-text-br">
    <ng-content select="[text-br]"></ng-content>
  </span>

  <span class="label-banner label-banner-top">
    <ng-content select="[text-banner-top]"></ng-content>
  </span>

  <span class="label-banner label-banner-bottom">
    <ng-content select="[text-banner-bottom]"></ng-content>
  </span>
</div>
