@let item = entry().item;

<app-tooltip-item-preview #preview [display]="display()">
  <div class="text-xs">Quantity: {{ displayQuantity() }}</div>
</app-tooltip-item-preview>

<div
  class="storage-item-slot outline-2 outline-offset-[-2px] rounded outline-{{
    item.rarity
  }}"
  [tp]="preview.template()"
  [tpPlacement]="'top'"
>
  <app-slot-icon-blank>
    <app-atlas-image spritesheet="item" [assetName]="item.sprite" />
  </app-slot-icon-blank>

  @if (isInfusable()) {
    <app-badge-infusable />
  }

  <span class="storage-item-count">{{ displayQuantity() }}</span>
</div>
