<div class="flex flex-row gap-2">
  <div class="flex-1 flex flex-col">
    <div class="card bg-base-100 foreground shadow-xl">
      <div class="card-body">
        <div class="card-title">Console Options</div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <input
              type="checkbox"
              [checked]="getOption('debugConsoleLogStateUpdates') === true"
              class="checkbox checkbox-secondary"
              appAnalyticsClick="Options:Debug:LogStateUpdates"
              (click)="
                setOption(
                  'debugConsoleLogStateUpdates',
                  !getOption('debugConsoleLogStateUpdates')
                )
              "
            />
            <span class="label-text">Log state updates</span>
          </label>
        </div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <input
              type="checkbox"
              [checked]="getOption('debugGameloopTimerUpdates') === true"
              class="checkbox checkbox-secondary"
              appAnalyticsClick="Options:Debug:LogTimerUpdates"
              (click)="
                setOption(
                  'debugGameloopTimerUpdates',
                  !getOption('debugGameloopTimerUpdates')
                )
              "
            />
            <span class="label-text">Log long (>100ms) gameloop timers</span>
          </label>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 foreground shadow-xl mt-3">
      <div class="card-body">
        <div class="card-title">Game Options</div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <input
              type="checkbox"
              [checked]="getOption('debugAllowBackgroundOperations') === true"
              class="checkbox checkbox-secondary"
              appAnalyticsClick="Options:Debug:AllowBackgroundOperations"
              (click)="
                setOption(
                  'debugAllowBackgroundOperations',
                  !getOption('debugAllowBackgroundOperations')
                )
              "
            />
            <span class="label-text">Allow Background Operations</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-1">
    <div class="card bg-base-100 foreground shadow-xl mt-3">
      <div class="card-body">
        <div class="card-title">Timers</div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <span class="label-text !ml-0 mr-2">Tick Multiplier</span>
            <input
              #tickMultiplier
              type="range"
              [min]="1"
              [max]="100"
              [value]="getOption('debugTickMultiplier')"
              (change)="
                setOption('debugTickMultiplier', tickMultiplier.valueAsNumber)
              "
              class="range range-secondary"
            />
            <span class="ml-2">{{ getOption('debugTickMultiplier') }}x</span>
          </label>
        </div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <span class="label-text !ml-0 mr-2">Save Interval</span>
            <input
              #saveInterval
              type="range"
              [min]="1"
              [max]="60"
              [value]="getOption('debugSaveInterval')"
              (change)="
                setOption('debugSaveInterval', saveInterval.valueAsNumber)
              "
              class="range range-secondary"
            />
            <span class="ml-2">{{ getOption('debugSaveInterval') }}s</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-1">
    <div class="card bg-base-100 foreground shadow-xl mt-3">
      <div class="card-body">
        <div class="card-title">Give Item / Equipment</div>

        <div class="debug-give-grid">
          <span class="label-text text-right">Item</span>
          <ng-select
            class="debug-give-select"
            [items]="debugItems()"
            bindLabel="name"
            bindValue="id"
            [clearable]="false"
            placeholder="Select an item..."
            [(ngModel)]="selectedItemId"
          ></ng-select>
          <input
            type="number"
            [min]="1"
            class="input input-bordered debug-give-qty"
            [(ngModel)]="itemQuantity"
          />
          <button
            type="button"
            class="btn btn-secondary debug-give-btn"
            appAnalyticsClick="Options:Debug:GiveItem"
            (click)="giveItem()"
          >
            Give
          </button>

          <span class="label-text text-right">Equipment</span>
          <ng-select
            class="debug-give-select"
            [items]="debugEquipment()"
            bindLabel="name"
            bindValue="id"
            [clearable]="false"
            placeholder="Select equipment..."
            [(ngModel)]="selectedEquipmentId"
          ></ng-select>
          <input
            type="number"
            [min]="1"
            class="input input-bordered debug-give-qty"
            [(ngModel)]="equipmentQuantity"
          />
          <button
            type="button"
            class="btn btn-secondary debug-give-btn"
            appAnalyticsClick="Options:Debug:GiveEquipment"
            (click)="giveEquipment()"
          >
            Give
          </button>

          <span class="label-text text-right">Collectible</span>
          <ng-select
            class="debug-give-select"
            [items]="debugCollectibles()"
            bindLabel="name"
            bindValue="id"
            [clearable]="false"
            placeholder="Select a collectible..."
            [(ngModel)]="selectedCollectibleId"
          ></ng-select>
          <input
            type="number"
            [min]="1"
            class="input input-bordered debug-give-qty"
            [(ngModel)]="collectibleQuantity"
          />
          <button
            type="button"
            class="btn btn-secondary debug-give-btn"
            appAnalyticsClick="Options:Debug:GiveCollectible"
            (click)="giveCollectible()"
          >
            Give
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
