<app-modal
  modalId="reclass-heroes"
  [showCloseButton]="true"
  [allowEscToClose]="true"
>
  <span title>Reclass Heroes</span>

  <div body class="flex flex-col gap-4">
    @for (heroField of reclassForm; track $index) {
      @let character = party()[$index];

      @if (character) {
        <div class="flex flex-row gap-2 items-center">
          <app-icon-job [job]="jobFor(character.jobId)"></app-icon-job>

          <div class="flex flex-col flex-1">
            <span class="font-bold">{{ character.name }}</span>
            <span class="text-xs text-lighter">
              {{ jobFor(character.jobId)?.name }} Lv. {{ character.level }}
            </span>
          </div>

          <ng-select
            class="w-64"
            [items]="unlockedJobs()"
            bindLabel="name"
            bindValue="id"
            [clearable]="false"
            [formField]="heroField.jobId"
          >
            <ng-template ng-option-tmp let-item="item">
              {{ item.name }} Lv. {{ jobLevelForHero(character, item.id) }}
            </ng-template>

            <ng-template ng-label-tmp let-item="item">
              {{ item.name }} Lv. {{ jobLevelForHero(character, item.id) }}
            </ng-template>
          </ng-select>
        </div>
      }
    }
  </div>

  <div actions class="flex gap-4 items-center">
    @if (hasChanges()) {
      <div class="flex items-center justify-end gap-2 text-sm">
        <span>Cost:</span>
        <app-currency-cost [type]="goldItemId" [amount]="totalReclassCost()" />
      </div>
    }

    <button
      class="btn btn-primary"
      [disabled]="!hasChanges() || !canAffordReclass()"
      [swal]="reclassAllSwal"
    >
      Reclass All
    </button>
  </div>
</app-modal>

<swal
  #reclassAllSwal
  title="Reclass all changed heroes?"
  [text]="
    'Any hero whose class you changed will be reclassed and their equipment will be unequipped. This action will cost ' +
    (totalReclassCost() | number) +
    ' gold.'
  "
  icon="warning"
  (confirm)="applyReclassAll()"
></swal>
