@let content = equipment();

<button
  type="button"
  class="equipment-item-row hover:bg-base-300"
  [tp]="tooltip"
  [tpPlacement]="'right'"
  (click)="equip.emit()"
>
  <span
    class="equipment-item-row-icon outline-2 outline-offset-[-2px] rounded outline-{{
      content.rarity
    }}"
  >
    <app-slot-icon-blank>
      <app-atlas-image spritesheet="equipment" [assetName]="content.sprite" />
    </app-slot-icon-blank>
  </span>

  <span class="equipment-item-row-info">
    <span class="equipment-item-row-name text-{{ content.rarity }}">
      {{ content.name }}
      <span class="equipment-item-row-level text-lighter"></span>
      (Lv. {{ content.levelRequirement }})
    </span>

    <span class="equipment-item-row-stats">
      @for (stat of rowStatKeys(); track stat) {
        @let equipStatValue = totalStatValue(stat);

        <span class="equipment-item-row-stat">
          <app-icon-stat [stat]="stat" />
          <span>{{ statShorthand[stat] }}</span>
          <span>{{ equipStatValue | statDisplay: 1 }}</span>
        </span>
      }
    </span>
  </span>
</button>

<ng-template #tooltip>
  <div class="p-3">
    <div class="font-bold text-base mb-1 text-{{ content.rarity }}">
      {{ content.name }}
    </div>
    <div class="text-sm mb-2">Lv. {{ content.levelRequirement }}</div>

    @for (skill of grantedSkills(); track skill.id) {
      <div class="text-xs mb-1 italic text-lighter flex items-center gap-2">
        Teaches
        <span class="equipment-item-row-granted-skill-icon">
          <app-slot-icon-blank [showBackground]="false">
            <app-atlas-image spritesheet="skill" [assetName]="skill.sprite" />
          </app-slot-icon-blank>
        </span>
        {{ skill.name }}
      </div>
    }

    <app-row-item-stats
      [stats]="content.baseStats"
      [comparisonStats]="comparisonStats()"
      [bonusStats]="infusionBonus()"
    />

    @if (content.slots > 0) {
      <div class="mt-2">
        <app-row-infused-materials
          [infusedItemIds]="equipmentItem().infusedItemIds"
          [maxSlots]="content.slots"
        />
      </div>
    }
  </div>
</ng-template>
