@let subview = activeSubview();

@switch (subview) {
  @case ('storage') {
    <app-play-kingdom-storage></app-play-kingdom-storage>
  }
  @case ('museum') {
    <app-play-kingdom-museum></app-play-kingdom-museum>
  }
  @case ('bestiary') {
    <app-play-kingdom-bestiary></app-play-kingdom-bestiary>
  }
  @case ('armory') {
    <app-play-kingdom-armory></app-play-kingdom-armory>
  }
  @case ('archive') {
    <app-play-kingdom-archive></app-play-kingdom-archive>
  }
  @case ('astralprojector') {
    <app-play-kingdom-astralprojector></app-play-kingdom-astralprojector>
  }
  @case ('infusion') {
    <app-play-kingdom-infusion></app-play-kingdom-infusion>
  }
  @case ('tradeskill-artificing') {
    <app-play-kingdom-tradeskill-artificing></app-play-kingdom-tradeskill-artificing>
  }
  @case ('tradeskill-blacksmithing') {
    <app-play-kingdom-tradeskill-blacksmithing></app-play-kingdom-tradeskill-blacksmithing>
  }
  @case ('tradeskill-jewelcrafting') {
    <app-play-kingdom-tradeskill-jewelcrafting></app-play-kingdom-tradeskill-jewelcrafting>
  }
  @case ('tradeskill-tailoring') {
    <app-play-kingdom-tradeskill-tailoring></app-play-kingdom-tradeskill-tailoring>
  }
  @case ('tradeskill-woodworking') {
    <app-play-kingdom-tradeskill-woodworking></app-play-kingdom-tradeskill-woodworking>
  }
  @case ('achievements') {
    <app-play-kingdom-achievements></app-play-kingdom-achievements>
  }
  @case ('prestige') {
    <app-play-kingdom-prestige></app-play-kingdom-prestige>
  }
  @default {
    <app-play-kingdom-home></app-play-kingdom-home>
  }
}

<app-modal-play-kingdom-reclass></app-modal-play-kingdom-reclass>
