@let subview = activeSubview();

@switch (subview) {
  @case ('storage') {
    @defer (on immediate) {
      <app-play-kingdom-storage></app-play-kingdom-storage>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('museum') {
    @defer (on immediate) {
      <app-play-kingdom-museum></app-play-kingdom-museum>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('bestiary') {
    @defer (on immediate) {
      <app-play-kingdom-bestiary></app-play-kingdom-bestiary>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('armory') {
    @defer (on immediate) {
      <app-play-kingdom-armory></app-play-kingdom-armory>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('commissions') {
    @defer (on immediate) {
      <app-play-kingdom-commissions></app-play-kingdom-commissions>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('astralprojector') {
    @defer (on immediate) {
      <app-play-kingdom-astralprojector></app-play-kingdom-astralprojector>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('infusion') {
    @defer (on immediate) {
      <app-play-kingdom-infusion></app-play-kingdom-infusion>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('tradeskill-artificing') {
    @defer (on immediate) {
      <app-play-kingdom-tradeskill-artificing></app-play-kingdom-tradeskill-artificing>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('tradeskill-blacksmithing') {
    @defer (on immediate) {
      <app-play-kingdom-tradeskill-blacksmithing></app-play-kingdom-tradeskill-blacksmithing>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('tradeskill-jewelcrafting') {
    @defer (on immediate) {
      <app-play-kingdom-tradeskill-jewelcrafting></app-play-kingdom-tradeskill-jewelcrafting>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('tradeskill-tailoring') {
    @defer (on immediate) {
      <app-play-kingdom-tradeskill-tailoring></app-play-kingdom-tradeskill-tailoring>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('tradeskill-woodworking') {
    @defer (on immediate) {
      <app-play-kingdom-tradeskill-woodworking></app-play-kingdom-tradeskill-woodworking>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('achievements') {
    @defer (on immediate) {
      <app-play-kingdom-achievements></app-play-kingdom-achievements>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('prestige') {
    @defer (on immediate) {
      <app-play-kingdom-prestige></app-play-kingdom-prestige>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @case ('workers') {
    @defer (on immediate) {
      <app-play-kingdom-workers></app-play-kingdom-workers>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }

  @default {
    @defer (on immediate) {
      <app-play-kingdom-home></app-play-kingdom-home>
    } @placeholder {
      <app-page-blank></app-page-blank>
    }
  }
}

<app-modal-play-kingdom-reclass></app-modal-play-kingdom-reclass>
