<div
  class="w-full overflow-hidden rounded-box bg-black/30"
  [class]="[colorClass(), sizeClass()]"
>
  <div
    class="relative h-full overflow-hidden rounded-box bg-current"
    [style.width.%]="fillPercent()"
  >
    @if (shimmer()) {
      <div
        appShimmer
        class="h-full w-1/3 bg-linear-to-r from-transparent via-white/40 to-transparent"
      ></div>
    }
  </div>
</div>

<progress class="sr-only" [value]="displayValue()" [max]="max()"></progress>

<span
  class="absolute inset-0 flex items-center justify-center text-xs text-shadow-black pointer-events-none tabular-nums"
>
  <ng-content></ng-content>
</span>
