@let content = equippedContent();

<button
  type="button"
  class="equipment-slot outline-2 rounded bg-gray-400 {{
    content ? 'outline-' + content.rarity : 'outline-gray-500'
  }}"
  [class.equipment-slot-selected]="isSelected()"
  (click)="slotClick.emit()"
>
  @if (!content) {
    <app-slot-icon-blank>
      <span class="equipment-slot-label text-lighter">{{ slot() }}</span>
    </app-slot-icon-blank>
  }

  @if (content) {
    <app-tooltip-item-preview
      #preview
      [display]="display()"
      [bonusStats]="bonusStats()"
      [bonusResistances]="bonusResistances()"
      [bonusCombatStats]="bonusCombatStats()"
      [showEquippableBy]="false"
      [showDescription]="false"
    >
      @if (occupiedPaperdollSlots().length > 1) {
        <div class="text-xs mb-1 italic text-lighter">
          Occupies: {{ occupiedPaperdollSlots().join(' + ') }}
        </div>
      }

      @if (infusionSlotCount() > 0) {
        <app-row-infused-materials
          [infusedItemIds]="equippedItem()!.infusedItemIds"
          [maxSlots]="infusionSlotCount()"
        />
      }
    </app-tooltip-item-preview>

    <app-atlas-image
      [tp]="content ? preview.template() : undefined"
      [tpPlacement]="'top'"
      spritesheet="equipment"
      [assetName]="content.sprite"
      class="equipment-slot-image"
      [class.equipment-slot-image-secondary]="isSecondarySlot()"
    />
  }
</button>
