@if (isDiscovered() && content(); as contentEntry) {
  <app-tooltip-item-preview #preview [display]="displayTooltip()" />

  <div [tp]="preview.template()" [tpPlacement]="'top'">
    <app-slot-rarity-outline
      [entry]="contentEntry"
      [spritesheet]="spritesheet()"
      [backdropSprite]="backdropSprite()"
    >
      <span text-banner-top>{{ reward().chance }}%</span>

      @if (rewardText(); as rewText) {
        <span badge-br>
          {{ rewText }}
        </span>
      }

      @if (rewardTextSmall(); as rewText) {
        <span text-banner-bottom>
          {{ rewText }}
        </span>
      }
    </app-slot-rarity-outline>
  </div>
} @else {
  <div [tp]="'A reward yet to be discovered.'" [tpPlacement]="'top'">
    <app-icon-unknown />
  </div>
}
