@if (isDiscovered() && content(); as reward) {
  <div
    class="outline-2 outline-offset-[-2px] rounded outline-{{ reward.rarity }}"
    [tp]="tooltip"
    [tpPlacement]="'top'"
  >
    <app-slot-icon-blank>
      <app-icon-item-preview
        [sprite]="reward.sprite"
        [spritesheet]="spritesheet()"
        [backdropSprite]="backdropSprite()"
      />
    </app-slot-icon-blank>
  </div>

  <ng-template #tooltip>
    <div class="flex gap-2 p-2 max-w-[400px]">
      <div class="completion-reward-tooltip-icon">
        <app-icon-item-preview
          [sprite]="reward.sprite"
          [spritesheet]="spritesheet()"
          [backdropSprite]="backdropSprite()"
        />
      </div>
      <div>
        <div class="font-bold mb-2 text-{{ reward.rarity }}">
          {{ reward.name }}
        </div>

        <div class="italic text-sm">
          {{ reward.description }}
        </div>
      </div>
    </div>
  </ng-template>
} @else {
  <div [tp]="'A reward yet to be discovered.'" [tpPlacement]="'top'">
    <app-icon-unknown />
  </div>
}
