@if (progress(); as progressValue) {
  <div class="card bg-base-100 shadow-xl pointer-events-auto">
    <div class="card-body gap-2 p-3">
      <app-bar-progress color="primary" [value]="progressPercent()">
        Encounter {{ progressValue.current | number }}/{{
          progressValue.total | number
        }}
      </app-bar-progress>
    </div>
  </div>
}

@if (isExploreRandomCleared()) {
  <div class="card bg-base-100 shadow-xl pointer-events-auto">
    <div class="card-body gap-2 p-3">
      <div class="text-sm text-lighter italic">
        No monsters remain. Check back in {{ exploreRandomTimerText() }}.
      </div>
    </div>
  </div>
}
