@reference 'tailwindcss';

:host {
  position: absolute;
  inset: 0;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.map-node-stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 32rem;
  max-width: calc(100% - 2rem);
}
