<app-slot-icon-blank>
  <app-icon-item-preview
    [spritesheet]="spritesheet()"
    [sprite]="entry().sprite"
    [backdropSprite]="backdropSprite()"
  />

  <ng-content></ng-content>

  <span class="label-text label-text-br">
    <ng-content select="[text-br]"></ng-content>
  </span>

  <span class="label-banner label-banner-top">
    <ng-content select="[text-banner-top]"></ng-content>
  </span>

  <span class="label-banner label-banner-bottom">
    <ng-content select="[text-banner-bottom]"></ng-content>
  </span>

  <span class="badge badge-br">
    <ng-content select="[badge-br]"></ng-content>
  </span>

  <span class="badge badge-br-unmet">
    <ng-content select="[badge-br-unmet]"></ng-content>
  </span>
</app-slot-icon-blank>
