@let isExpanded = expanded();
@let data = entry();

<button
  type="button"
  class="status-entry select-none text-start"
  [class.expanded]="isExpanded"
  appButtonGlow
  (click)="select()"
  appSfx="ui-click"
  [sfxTrigger]="['click', 'hover']"
>
  <div class="entry-icon">
    <app-icon name="gameHelp" size="nav" />
  </div>

  @if (isExpanded) {
    <div class="entry-details">
      <span class="entry-subtitle text-lighter">New feature unlocked</span>
      <span class="entry-name truncate">{{ data.name }}</span>
    </div>
  }
</button>
