:host {
  animation: app-button-glow-pulse 1.5s ease-in-out infinite;
}

@keyframes app-button-glow-pulse {
  0%,
  100% {
    box-shadow: 0 0 2px 0 rgb(251 191 36 / 70%);
  }
  50% {
    box-shadow: 0 0 10px 4px rgb(251 191 36 / 90%);
  }
}
