<div class="flex flex-row gap-2">
  <div class="flex-1">
    <div class="card bg-base-100 foreground shadow-xl mt-3">
      <div class="card-body">
        <div class="card-title">Accessibility</div>

        <div class="form-control">
          <label class="label label-checkbox gap-2">
            <span class="label-text !ml-0 mr-2">Map Zoom</span>
            <ng-select
              class="w-32"
              [items]="mapZoomChoices"
              bindLabel="label"
              bindValue="value"
              [clearable]="false"
              [searchable]="false"
              [(ngModel)]="mapZoom"
              (ngModelChange)="setOption('mapZoom', $event)"
            ></ng-select>
            <app-icon
              name="gameHelp"
              size="1em"
              class="zoom-tooltip text-lighter"
              [tp]="
                'Zooms in on the map view only - the rest of the game UI is unaffected.'
              "
              [tpPlacement]="'top'"
            />
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
