@let item = entry().item;

<div
  class="storage-item-slot outline-2 outline-offset-[-2px] rounded outline-{{
    item.rarity
  }}"
  [tp]="tooltip"
  [tpPlacement]="'top'"
>
  <app-icon-blank-slot>
    <app-atlas-image spritesheet="item" [assetName]="item.sprite" />
  </app-icon-blank-slot>

  <span class="storage-item-count">{{ displayQuantity() }}</span>
</div>

<ng-template #tooltip>
  <div class="flex gap-2 p-2">
    <app-atlas-image
      spritesheet="item"
      [assetName]="item.sprite"
      class="storage-item-tooltip-image"
    />
    <div>
      <div class="font-bold mb-2 text-{{ item.rarity }}">
        {{ item.name }}
      </div>

      <div class="italic text-sm mb-2">
        {{ item.description }}
      </div>

      <div class="text-xs">Quantity: {{ displayQuantity() }}</div>
    </div>
  </div>
</ng-template>
