@if (isDiscovered() && item(); as material) {
  <div
    class="outline-2 outline-offset-[-2px] rounded outline-{{
      material.rarity
    }}"
    [tp]="tooltip"
    [tpPlacement]="'top'"
  >
    <app-icon-blank-slot>
      <app-atlas-image spritesheet="item" [assetName]="material.sprite" />
    </app-icon-blank-slot>
  </div>

  <ng-template #tooltip>
    <div class="flex gap-2 p-2 max-w-[400px]">
      <app-atlas-image
        spritesheet="item"
        [assetName]="material.sprite"
        class="gather-material-tooltip-image"
      />
      <div>
        <div class="font-bold mb-2 text-{{ material.rarity }}">
          {{ material.name }}
        </div>

        <div class="italic text-sm">
          {{ material.description }}
        </div>
      </div>
    </div>
  </ng-template>
} @else {
  <div [tp]="'A material yet to be discovered.'" [tpPlacement]="'top'">
    <app-icon-unknown />
  </div>
}
