<ng-template #tooltipContent>
  @if (display(); as item) {
    <div class="flex gap-2 p-2 max-w-[400px]">
      <app-atlas-image
        [spritesheet]="item.spritesheet"
        [assetName]="item.sprite"
        class="tooltip-item-preview-image shrink-0"
      />
      <div>
        <div class="font-bold mb-1 text-{{ item.rarity }}">
          {{ item.name }}
        </div>

        @if (item.levelRequirement !== undefined) {
          <div class="text-xs mb-2">Lv. {{ item.levelRequirement }}</div>
        }

        @if (item.equippableHeroNames; as equippable) {
          <div class="text-xs mb-2">
            @if (equippable.length > 0) {
              Equippable by: {{ equippable.join(', ') }}
            } @else {
              <span class="text-warning">
                None of your heroes can equip this.
              </span>
            }
          </div>
        }

        <div class="italic text-sm mb-2">
          {{ item.description }}
        </div>

        @if (item.stats) {
          <app-row-item-stats
            [stats]="item.stats"
            [bonusStats]="bonusStats()"
          />
        }

        @if (item.resistances) {
          <app-row-debuff-resistances
            class="block mt-2"
            [resistances]="item.resistances"
            [bonusResistances]="bonusResistances()"
          />
        }

        <ng-content></ng-content>
      </div>
    </div>

    <ng-content select="[preview-footer]"></ng-content>
  }
</ng-template>
