<ng-template #tooltipContent>
  @if (display(); as item) {
    <div class="flex gap-2 p-2">
      <div class="tooltip-item-preview-image">
        <app-icon-item-preview
          [sprite]="item.sprite"
          [spritesheet]="item.spritesheet"
          [backdropSprite]="item.backdropSprite"
        />
      </div>

      <div>
        <div class="font-bold mb-1 text-{{ item.rarity }}">
          {{ item.name }}
        </div>

        @if (item.levelRequirement) {
          <div class="text-xs mb-2">Lv. {{ item.levelRequirement }}</div>
        }

        @if (showEquippableBy()) {
          @if (item.equippableHeroNames; as equippable) {
            <div class="text-xs mb-2">
              @if (equippable.length > 0) {
                Equippable by: {{ equippable.join(', ') }}
              } @else {
                <span class="text-warning">
                  None of your heroes can equip this.
                </span>
              }
            </div>
          }
        }

        @if (showDescription()) {
          <div class="italic text-sm mb-2">
            {{ item.description }}
          </div>
        }

        <app-row-stat-summary
          class="block my-2"
          [stats]="item.stats"
          [bonusStats]="bonusStats()"
          [resistances]="item.resistances"
          [bonusResistances]="bonusResistances()"
          [combatStats]="item.combatStats"
          [bonusCombatStats]="bonusCombatStats()"
        />

        <ng-content></ng-content>
      </div>
    </div>

    <ng-content select="[preview-footer]"></ng-content>
  }
</ng-template>
