<div
  class="flex gap-2"
  [class.flex-col]="layout() === 'column'"
  [class.flex-row]="layout() === 'row'"
  [class.flex-wrap]="layout() === 'row'"
  [class.gap-x-3]="layout() === 'row'"
>
  @for (stat of baseRows(); track stat) {
    @let value = rowValue(stat);

    <div
      class="flex items-center gap-2 text-xs"
      [class.text-value-positive]="hasComparison() && value > 0"
      [class.text-value-negative]="hasComparison() && value < 0"
    >
      <app-icon-stat [stat]="stat" />
      <span class="inline-block min-w-[30px]">{{ statShorthand[stat] }}</span>
      <span [class.text-value-negative]="value < 0">
        {{ value | statDisplay: maxDecimals() : showSign() }}
      </span>
    </div>
  }

  @for (stat of bonusRows(); track stat) {
    <div
      class="flex items-center gap-2 text-xs"
      [class.text-value-positive]="bonusValue(stat) > 0"
      [class.text-value-negative]="bonusValue(stat) < 0"
    >
      <app-icon-stat [stat]="stat" />
      <span class="inline-block min-w-[30px]">{{ statShorthand[stat] }}</span>
      <span>
        {{ bonusValue(stat) | statDisplay: maxDecimals() }}
      </span>
    </div>
  }
</div>
