<div
  class="flex gap-2"
  [class.flex-col]="layout() === 'column'"
  [class.flex-row]="layout() === 'row'"
  [class.flex-wrap]="layout() === 'row'"
  [class.gap-x-3]="layout() === 'row'"
>
  @for (stat of baseRows(); track $index) {
    @let value = rowValue(stat);

    <div
      class="flex items-center gap-2 text-xs"
      [class.text-value-positive]="!hasComparison() && isPositive(stat)"
      [class.text-value-negative]="!hasComparison() && isNegative(stat)"
    >
      <app-icon-stat [stat]="stat" />
      <span class="inline-block min-w-[30px]">{{ statShorthand[stat] }}</span>
      <span>
        {{ value | statDisplay: maxDecimals() : showSign() }}
      </span>
      @if (hasComparison() && deltaValue(stat) !== 0) {
        <span
          [class.text-value-positive]="isPositive(stat)"
          [class.text-value-negative]="isNegative(stat)"
        >
          ({{ deltaValue(stat) | statDisplay: maxDecimals() : true }})
        </span>
      }
    </div>
  }
</div>
