@let item = equipment();

<div
  class="armory-item-slot outline-2 outline-offset-[-2px] rounded outline-{{
    item.rarity
  }}"
  [class.armory-item-slot-sellable]="sellMode()"
  [class.armory-item-slot-dimmed]="sellMode() && !selected()"
  [class.armory-item-slot-selected]="sellMode() && selected()"
  [tp]="tooltip"
  [tpPlacement]="'top'"
  (click)="onClick($event)"
>
  <app-slot-icon-blank>
    <app-atlas-image spritesheet="equipment" [assetName]="item.sprite" />
  </app-slot-icon-blank>
</div>

<ng-template #tooltip>
  <div class="flex gap-2 p-2">
    <app-atlas-image
      spritesheet="equipment"
      [assetName]="item.sprite"
      class="armory-item-tooltip-image"
    />
    <div>
      <div class="font-bold mb-1 text-{{ item.rarity }}">
        {{ item.name }}
      </div>

      <div class="text-xs mb-2">Lv. {{ item.levelRequirement }}</div>

      <div class="text-xs mb-2">
        @let equippable = equippableHeroes();
        @if (equippable.length > 0) {
          Equippable by: {{ equippableHeroes().join(', ') }}
        } @else {
          <span class="text-warning">None of your heroes can equip this.</span>
        }
      </div>

      <div class="mb-2">
        <app-row-item-stats
          [stats]="item.baseStats"
          [bonusStats]="infusionBonus()"
        />
      </div>

      <div class="italic text-sm max-w-[300px] mb-2">
        {{ item.description }}
      </div>

      <div class="text-xs mb-2 flex items-center gap-2">
        Sell value:
        <app-currency-cost [type]="goldCoinItemId" [amount]="sellValue()" />
      </div>

      @if (item.slots > 0) {
        <app-row-infused-materials
          [infusedItemIds]="equipmentItem().infusedItemIds"
          [maxSlots]="item.slots"
        />
      }
    </div>
  </div>
</ng-template>
