@let item = equipment();

<app-tooltip-item-preview
  #preview
  [display]="display()"
  [bonusStats]="bonusStats()"
  [bonusResistances]="bonusResistances()"
  [bonusCombatStats]="bonusCombatStats()"
>
  <div class="text-xs my-2 flex items-center gap-2">
    Sell value:
    <app-currency-cost [type]="goldCoinItemId" [amount]="sellValue()" />
  </div>

  @if (infusionSlotCount() > 0) {
    <app-row-infused-materials
      [infusedItemIds]="equipmentItem().infusedItemIds"
      [maxSlots]="infusionSlotCount()"
    />
  }
</app-tooltip-item-preview>

@if (sellMode()) {
  <button
    type="button"
    class="armory-item-slot armory-item-slot-sellable"
    [class.armory-item-slot-dimmed]="!selected()"
    [class.armory-item-slot-selected]="selected()"
    [tp]="preview.template()"
    [tpPlacement]="'top'"
    (click)="toggleSelect.emit($event)"
    appSfx="ui-click"
    [sfxTrigger]="['click', 'hover']"
  >
    <app-slot-rarity-outline
      [entry]="item"
      spritesheet="equipment"
    ></app-slot-rarity-outline>
  </button>
} @else {
  <div class="armory-item-slot" [tp]="preview.template()" [tpPlacement]="'top'">
    <app-slot-rarity-outline
      [entry]="item"
      spritesheet="equipment"
    ></app-slot-rarity-outline>
  </div>
}
