@if (icon(); as skill) {
  <div
    class="min-w-[16px] min-h-[16px]"
    [tp]="skill.name"
    [tpPlacement]="'top'"
  >
    <app-atlas-image
      class="zoom-inline"
      spritesheet="skill"
      [assetName]="skill.sprite"
    />
  </div>
}

<span class="flex-1 truncate" [class.opacity-50]="!clause().enabled">
  {{ summary() }}
</span>

@if (!isFamilyKnown()) {
  <app-icon
    name="tablerExclamationCircle"
    size="row"
    class="text-error shrink-0"
    [tp]="'This hero no longer knows this skill family.'"
    [tpPlacement]="'top'"
  />
} @else if (!isFamilyUsable()) {
  <app-icon
    name="tablerExclamationCircle"
    size="row"
    class="text-warning shrink-0"
    [tp]="'Not usable with the currently equipped weapon.'"
    [tpPlacement]="'top'"
  />
} @else if (isFamilyEquipmentOnly()) {
  <app-icon
    name="tablerInfoCircle"
    size="row"
    class="text-info shrink-0"
    [tp]="'Depends on currently equipped gear.'"
    [tpPlacement]="'top'"
  />
} @else if (!isTargetModeUsable()) {
  <app-icon
    name="tablerExclamationCircle"
    size="row"
    class="text-error shrink-0"
    [tp]="'This skill can never reach a valid target with this targeting - it will always be skipped.'"
    [tpPlacement]="'top'"
  />
}

@if (!readOnly()) {
  <label class="label cursor-pointer label-checkbox">
    <input
      type="checkbox"
      [checked]="clause().enabled"
      class="checkbox checkbox-sm checkbox-secondary"
      (click)="toggleEnabled.emit()"
    />
  </label>

  <button
    class="btn btn-xs btn-secondary"
    (click)="edit.emit()"
    appSfx="ui-click"
    [sfxOffset]="0"
    [sfxTrigger]="['click', 'hover']"
  >
    Edit
  </button>
  <button
    class="btn btn-xs btn-error"
    (click)="remove.emit()"
    appSfx="ui-error"
    [sfxOffset]="1"
    [sfxTrigger]="['click', 'hover']"
  >
    Remove
  </button>
}
