<div class="flex h-screen flex-col gap-4 overflow-y-auto p-4">
  <div class="card bg-base-100 foreground shadow-xl">
    <div class="card-body gap-4">
      <h1 class="text-2xl font-bold">Icon Catalog</h1>
    </div>
  </div>

  @for (category of iconCategories; track category.title) {
    <div class="card bg-base-100 foreground shadow-xl">
      <div class="card-body gap-4">
        <div class="type-section-title">{{ category.title }}</div>

        <div class="grid grid-cols-4 gap-4">
          @for (entry of category.dimension.order; track $index) {
            <div
              class="flex flex-row flex-wrap items-center gap-2 rounded-box bg-base-200 p-2"
            >
              @for (size of sizes; track size) {
                <app-icon-dimension
                  [dimension]="category.dimension"
                  [key]="entry"
                  [size]="size"
                  [tp]="size + ' (' + sizeValues[size] + ')'"
                />
              }

              <span>{{ entry }}</span>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
