<app-modal
  modalId="town"
  [showCloseButton]="true"
  [allowEscToClose]="true"
  [closeOnBackdropClick]="true"
>
  <span title>{{ town()?.name ?? 'Town' }}</span>

  <div body class="flex flex-col gap-4">
    @if (town(); as town) {
      @if (entry(); as entry) {
        <app-bar-town-reputation [townId]="town.id" />

        <app-button-town-home [entry]="entry" [town]="town" />
      }

      <div role="tablist" class="tabs tabs-boxed">
        <a
          role="tab"
          class="tab flex gap-2"
          [class.tab-active]="currentTab() === 'shop'"
          (click)="currentTab.set('shop')"
          (keydown.enter)="currentTab.set('shop')"
          tabindex="1"
        >
          Shop
          <span class="badge badge-sm badge-info">
            {{ shopStockCount() | number }} / {{ stockCap() | number }}
          </span>
        </a>
        <a
          role="tab"
          class="tab"
          [class.tab-active]="currentTab() === 'crafting'"
          (click)="currentTab.set('crafting')"
          (keydown.enter)="currentTab.set('crafting')"
          tabindex="1"
        >
          Crafting
        </a>
        <a
          role="tab"
          class="tab"
          [class.tab-active]="currentTab() === 'workers'"
          (click)="currentTab.set('workers')"
          (keydown.enter)="currentTab.set('workers')"
          tabindex="1"
        >
          Workers
        </a>
        <a
          role="tab"
          class="tab"
          [class.tab-active]="currentTab() === 'quests'"
          (click)="currentTab.set('quests')"
          (keydown.enter)="currentTab.set('quests')"
          tabindex="1"
        >
          Quests
        </a>
        <a
          role="tab"
          class="tab flex gap-2"
          [class.tab-active]="currentTab() === 'raid'"
          (click)="currentTab.set('raid')"
          (keydown.enter)="currentTab.set('raid')"
          tabindex="1"
        >
          Raid

          @if (raidCountdown(); as countdown) {
            <span class="badge badge-sm badge-warning">
              {{ countdown }}
            </span>
          }
        </a>
      </div>

      <div class="text-sm text-lighter min-h-16">
        @switch (currentTab()) {
          @case ('shop') {
            <app-panel-town-shop [town]="town" />
          }
          @case ('crafting') {
            <app-panel-town-crafting [town]="town" />
          }
          @case ('workers') {
            <app-panel-town-workers [town]="town" />
          }
          @case ('quests') {
            @if (entry(); as entry) {
              <app-panel-town-quests [entry]="entry" />
            }
          }
          @case ('raid') {
            <app-panel-town-raid [town]="town" />
          }
        }
      </div>
    }
  </div>
</app-modal>
