@if (icon(); as item) {
  <div class="min-w-[16px] min-h-[16px]" [tp]="item.name" [tpPlacement]="'top'">
    <app-atlas-image
      class="zoom-inline"
      [spritesheet]="item.spritesheet"
      [assetName]="item.sprite"
    />
  </div>
}

<span
  class="flex-1 truncate flex items-center gap-2"
  [class.opacity-50]="!clause().enabled"
>
  {{ summary() }}
  @let owned = ownedQuantity();
  @if (owned !== undefined) {
    <span class="text-lighter italic">(you have {{ owned | number }})</span>
  }

  @if (clause().type === 'LevelUpParty') {
    <app-icon
      name="gameHelp"
      class="text-lighter"
      [tp]="'Your party will explore nodes that match the specified difficulty. If they fail enough times, they will go to an easier node. They will do this until they get to the easiest node that still gives them XP. If there are none, this clause will be skipped.'"
    />
  }
</span>

@if (isFailing()) {
  <app-icon
    name="tablerExclamationCircle"
    size="row"
    class="text-warning shrink-0"
    [tp]="clause().failureCount + ' failures in a row'"
    [tpPlacement]="'top'"
  />
}

<label class="label cursor-pointer label-checkbox">
  <input
    type="checkbox"
    [checked]="clause().enabled"
    class="checkbox checkbox-sm checkbox-secondary"
    (click)="toggleEnabled.emit()"
  />
</label>

@if (isEditable()) {
  <button
    class="btn btn-xs btn-secondary"
    (click)="edit.emit()"
    appSfx="ui-click"
    [sfxOffset]="0"
    [sfxTrigger]="['click', 'hover']"
  >
    Edit
  </button>
}

<button
  class="btn btn-xs btn-error"
  (click)="remove.emit()"
  appSfx="ui-error"
  [sfxOffset]="1"
  [sfxTrigger]="['click', 'hover']"
>
  Remove
</button>
