<div>
  <span class="font-semibold text-xl">Skills</span>
</div>

@for (skill of heroSkills(); track skill.id) {
  <app-tooltip-skill-preview
    #preview
    [display]="skill"
    [displayCombatant]="heroCombatant()"
    [displayCharacterWeaponTypes]="equippedWeaponTypes()"
  />

  <div
    class="hero-skill-row hover:bg-base-300"
    [tp]="preview.template()"
    [tpPlacement]="'left'"
  >
    <app-slot-rarity-outline
      class="hero-skill-row-icon"
      [entry]="skill"
      spritesheet="skill"
    ></app-slot-rarity-outline>

    <div class="hero-skill-row-name">
      <div class=" text-{{ skill.rarity }}">
        {{ skill.name }}
      </div>

      <span class="badge badge-sm badge-info badge-outline">
        {{ skill.epCost }} EP
      </span>
    </div>
  </div>
} @empty {
  <div class="italic text-sm p-4">No skills learned yet.</div>
}
