<div>
  <span class="font-semibold text-xl">Skills</span>
</div>

@for (skill of heroSkills(); track skill.id) {
  @let usable = isSkillUsable(skill);

  <div
    class="hero-skill-row hover:bg-base-300"
    [tp]="skillTooltip"
    [tpPlacement]="'left'"
  >
    <span
      class="hero-skill-row-icon outline-2 outline-offset-[-2px] rounded outline-{{
        skill.rarity
      }}"
    >
      <app-slot-icon-blank>
        <app-atlas-image spritesheet="skill" [assetName]="skill.sprite" />
      </app-slot-icon-blank>
    </span>

    <span class="hero-skill-row-name text-{{ skill.rarity }}">
      {{ skill.name }}
    </span>
  </div>

  <ng-template #skillTooltip>
    <div class="p-3 max-w-xs">
      <div class="font-bold text-base mb-1 text-{{ skill.rarity }}">
        {{ skill.name }}
      </div>
      <div class="text-sm">{{ skillDescription(skill) }}</div>

      @if (skill.requiredWeaponTypes.length > 0) {
        <div class="text-xs mt-2" [class.text-error]="!usable">
          Skill only usable with
          {{ skill.requiredWeaponTypes.join(', ') }}
        </div>
      }
    </div>
  </ng-template>
} @empty {
  <div class="italic text-sm p-4">No skills learned yet.</div>
}
